/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* no white margin around page (default setting) */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
}
body li {
    list-style: none;
}
body p{
    font-size: 1rem;
}
:root {
    --first-color: #540B51;
    --hover-color: #41023f;
    --second-color: #F3EAE2;
}
/* -----------------------------------NAVABAR */
/* display-flex = inline-flex */
nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: var(--first-color);
    color: white;
    gap: 2rem;
}
.nav-logo img{
    width: 10rem;
}
.nav-links ul{
    display: flex;
    gap: 1.5rem;   
}
.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.nav-search {
    display: flex;
}

/* nav div:last-child{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
} */
/* -------------------------------NAV SEARCH => mobile/ display:none */
.nav-search {
    align-items: center;
    gap: 1rem;
}
.btn-search{
    background-color: #540B51;
    border: 0;
    font-size: 1rem;
}
.btn-sign-in{
    color: whitesmoke;
    background-color: var(--first-color);
    border: none;
    font-size: 1rem;
}
.btn-try-free {
    background-color: whitesmoke;
    border: none;
    color: #540B51;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 1rem;
}
/* -------------------------------nav-mobile */
.menu-mobile {
    display: none;
    font-size: 1rem;
}
/* ----------------------------------HERO-------------------------- */
#hero{
    background-color:#540B51;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3%;
}
.intro-cta {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
}
.cta {
    margin-top: 1rem;
    padding: 1rem 2rem;
    width: 100%;
}
.intro-img {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3%;
    display: flex;
    /* flex-direction: row; */
}
/* -----------left--------------- */
.btn-cta button{
    border: 0;
    border-radius: 4px;
    margin-top: 1rem;
    gap: 1rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    /* center horiz. & vert. */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* width 100% of its parent/ container */
    width: 100%;                    
}
/* -----------left-text--------- */
.intro-title{
    color: white;
    font-size: 5rem;
}
.intro p{
    padding-top: 2rem;
    font-size: 1rem;
}
.txt-yellow {
    color: #ECB12F;
}
/* -----------left-buttons---------- */
.btn-email{
    color: #540B51;
}
.btn-google{
    color: whitesmoke;
    background-color: #4285F4;
}
.btn-google img{
    background-color: whitesmoke;
    width: 1rem;
}
/* ------------right------------------- */
.intro-img img{
    /* width 100% of its parent/ container */
    width: 100%;        
}

/* -------------------------------------SECTION - SPONSORS-*/
.sponsors {
    background-color: #F3EAE2;
}
.sponsors p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 2rem;
    color: #540B51;
}
.sponsor-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    padding: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
}
.logo {
    height: 3rem;
}
/* -----------------------------------SECTION TEAM */
.section-team h3{
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: #540B51;
    font-size: 3rem;
}
/* -------------------------------------------- */
.collaboration {
    margin: 0px 10%;
}
.collaboration h4 {
padding-bottom: 1rem;
}
.collaboration-list li{  
    padding-bottom: 1rem;
}
hr.divider {
    margin-top: .5rem;
    border: 1px solid #540B51;
}
/* ---------------------------------SECTION WELCOME */
.section-welcome {
    background-color: var(--first-color);
    text-align: center;
    padding: 2rem;
}
.section-welcome h3{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 3rem;
}
.container-btn {
    text-align: center;
    border-radius: 4px;
    margin-top: 1rem;
    padding: 1rem 2rem;
    /* center horiz. & vert. */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* width 100% of its parent/ container */
    width: 100%;                
}
.btn-try {
    text-transform: uppercase;
    padding: 1rem 2rem;
    color: var(--first-color);
    background-color: white;
    border-radius: 4px;
    border: none;
    margin: 1rem;
    width: 100%;
}
.btn-talk {
    text-transform: uppercase;
    padding: 1rem 2rem;
    color: whitesmoke;
    background-color: var(--first-color);
    border-radius: 4px;
    border: 1px solid white;
    margin: 1rem;
    width: 100%;
}
.btn:hover {
    background-color: var(--hover-color);
}

/* ------------------------------FOOTER */
footer {
    background-color: white;
    color: var(--first-color);
}
footer h4 {
    padding-bottom: .5rem;
}
.footer-col {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}
/* #hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */
/* ----------middle---------------- */
#follow-us .footer-icon {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 2rem;
    flex-direction: row
}
/* -------------rights------------ */

/* ============================================RESPONSIVE-- */

/* @media screen and (min-width: 769px) and (max-width: 1023px) { 
    menu bar stays sandwish but col=>row*/

  /* MOBILE Extra small devices (phones) */
  @media only screen and (max-width: 768px) {
    .nav-logo img{
        width: 35%;
    }
    .menu-mobile {
        display: block;
        background-color: var(--first-color);
        border: none;
    }
    .menu-mobile img{
        width: 2.5rem;
        height: 2.5rem;
    }
    .btn-search {
        display: none;
    }
    .btn-sign-in{
        display: none;
    }
    .btn-try-free {
        display: none;
    }
    .nav-links {
        display: none;
    }
    /* ------------------------ */
    .sponsor-logo div {
        display: block;
        width: 100%
    }
    /* }----------------------- */
    #hero {
        display: flex;
        flex-direction: column;
        /* width: 80vw; */
        justify-content: center;
    }
    .intro-cta {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .intro-img {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .intro-title{
        font-size: 3rem;
        text-align: center;
        margin: 1rem;
    }
/* -------------------------- */
    .container-btn {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }
  }
    /* --------------------- */
   
/* TABLET-PORTRAIT Medium devices (portrait tablets 1024px and up) */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
   
   .nav-logo img{
        width: 35%;
    }
    .menu-mobile {
        display: block;
        background-color: var(--first-color);
        border: none;
    }
    .menu-mobile img{
        width: 2.5rem;
        height: 2.5rem;
    }
    .btn-search {
        display: none;
    }
    .btn-sign-in{
        display: none;
    }
    .btn-try-free {
        display: none;
    }
    .nav-links {
        display: none;
    }
    /* ------------------------ */
    .sponsor-logo div {
        display: inline-block;
        width: 100%
    }
    /* }----------------------- */
    #hero {
        display: flex;
        flex-direction: row;
        /* width: 80vw; */
        justify-content: center;
        
    }
    .intro-cta {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .intro-img {
        width: 100%;
        /* display: flex;
        flex-direction: row; */
    }
}

/* LAPTOPS + */
@media only screen and (min-width: 1024px) {
   
    .nav-logo img{
         width: 9rem;
     }
     .menu-mobile {
         display: block;
         background-color: var(--first-color);
         border: none;
     }
     .menu-mobile img{
         width: 2.5rem;
         height: 2.5rem;
     }

     /* ------------------------ */
     .sponsor-logo div {
         display: inline-block;
         width: 100%
     }
     /* }----------------------- */
     #hero {
         display: flex;
         flex-direction: row;
         /* width: 80vw; */
         justify-content: center;
         
     }
     .intro-cta {
         width: 100%;
         justify-content: center;
     }
     .intro-img {
         width: 100%;
     }
 }

